# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Foundry
out/
cache/

# Environment
.env
.env.local

# Dependencies
lib/
node_modules/
